
#send-feedback{
    background-color: #0d6efd ;
    color: white;
    border-radius: 20px;

}

#send-feedback > i{
    padding-right: 10px;
}

.navbar-nav{
    display: grid;
    column-gap: 30px;
}

.comment{
    padding: 4rem 0;
    background-color: pink;
    text-align: center;
    font-size: 60px;
}





.cta-content{
    background-image: url(/assets/project-img.jpg);
    filter: brightness(43%);
    background-size: cover;
    background-position: center;
    padding: 20rem 0;
}

.text-white{
  
}

.download-free{
    
}




.download{
    background-color: #6b27e8;
    color: white;
    text-align: center;
    padding: 5rem 0;
}



.download-logo{
    width: 11rem;
    height: 3.5rem;
    
}


footer{
    background-color: black;
    color: #767a70;
    text-align: center;
    padding: 3rem 0;
    line-height: 30px;
}

.footer-link{
    color: #767a70;
    text-decoration: none;
}























/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .logo{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

@media only screen and (min-width: 1400px) {...}