*{
    box-sizing: border-box;
}


#send-feedback{
    background-color: #0d6efd ;
    color: white;
    border-radius: 20px;

}

#send-feedback > i{
    padding-right: 10px;
}

.navbar-brand{
    
}

.disney{
    width: 100px;
}

.navbar-nav{
    column-gap: 30px;
}

article{
    padding: 100px 0;
}

.main{
    align-items: center;
}

.showcase{
    font-weight: lighter;
    font-size: 30px;
}

.tel{
     display: flex;
     justify-content: center;
}

article .row{
    
}

.phone-img{
    /*margin-left: 100px;*/
    width: 16rem;
}

.comment{
    padding: 4rem 0;
    background-color: #0265c5 ;
    color: white;
    text-align: center;
    font-size: 60px;
}

.get-started{
    background-color: black;
    color: white;
    border: black;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 30px;
}

aside{
    padding: 85px 0;
}


.body{
    display: flex;
    align-items: center;
    text-align: center;
}

.icon{
    font-size: 50px;
    background: -webkit-linear-gradient(#2937f0, #9f1ae2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



.promo-content{
    align-items: center;
}


.promo{
    padding: 50px 50px;
}

.promo-comment{
    text-align: start;  
    font-weight: lighter;
    font-size: 28px;
}

.promo-img{
    border-radius: 50%;
    max-height: 37rem;
    vertical-align: middle;
}


.cta{
    position: relative;
    background-image: url(assets/disney-pics.jpg);
    height: 10rem;
    background-size: cover;
    background-position: center;
    padding: 20rem 0;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
 }

.cta-content{
    position: relative;
    z-index: 1;
    color: white;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

/*.download-free{
    display: block;
    position: relative;
    z-index: 1;
    font-size: ;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.0);
    margin: 30px 110px;
    padding: 15px 25px;
}*/




.download{
    background-color: #6b27e8;
    color: white;
    text-align: center;
    padding: 5rem 0;
}



.download-logo{
    width: 11rem;
    height: 3.5rem;
    
}


footer{
    background-color: black;
    color: #767a70;
    text-align: center;
    padding: 3rem 0;
    line-height: 30px;
}

.footer-link{
    color: #767a70;
    text-decoration: none;
}























/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .main{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .logo{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .header{
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
        align-items: center;
        gap: 30px;
    }

    
    }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    

    
    
}

@media only screen and (min-width: 1400px) {
    
}